/* 노멀라이징 */
*{
    padding: 0;
    margin: 0;

}
  a {
    color: inherit;
    text-decoration: none;
  }
  
  ul,
  li {
    list-style: none;
  }
  
  /*라이브러리*/
  .cell {
    float: left;
  }
  .cell-r{
    float : right;
  }
  .row::after {
    clear: both;
    content: "";
    display: block;
  }
  
  ul, li{
    margin: 0;
    padding: 0;
  }
  
  .con{
    width : 1400px;
    margin : 0 auto; 
  }
  .title-box{
    font-family: 'NanumSquareRoundEB';
    font-size: 32px;

  }
  .section{
    font-family: 'Happiness-Sans-Bold';
    background-color: #fff;
  }
  /* 스타일 */
@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url("./font/Happiness-Sans-Bold.ttf");
}
@font-face {
  font-family: 'Happiness-Sans-Regular';
  src: url("./font/Happiness-Sans-Regular.ttf");
}
@font-face {
  font-family: 'Pretendard-Medium';
  src: url("./font/Pretendard-Medium.ttf");
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url("./font/Pretendard-SemiBold.ttf");
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url("./font/Pretendard-Bold.ttf");
}
@font-face {
  font-family: 'NanumSquareRoundEB';
  src: url("./font/NanumSquareRoundEB.ttf");
}

@font-face {
  font-family: 'NanumSquareRoundB';
  src: url("./font/NanumSquareRoundB.ttf");
}

/* 스타일 */
.wrapper{
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.wrapper > .side{
    position: fixed;
    top : 0;
    right : -80%;
    z-index: 99;
    transition: 0.8s;
    font-family: 'Happiness-Sans-Regular';
}
.wrapper > .side.active{
    right : 0%;
}
.wrapper > .hidden-box{
  position: fixed;
  top : 0;
  left : 0;
  width: 100%;
  height: 100vh;
  z-index: 98;
  background-color: #000;
  display: none;
  opacity: 0.7;
}
.wrapper > .hidden-box.active{
  display: block;
}
.wrapper > .side > div > .top > .top-ul{
  color : #555555;
}
.wrapper > .side > div > .center{
  
}
.wrapper > .side > div > .center > li{
  font-size: 25px;
  font-family: 'Happiness-Sans-Bold';
  color : #333333;
  height: 91px;
  border-bottom: 1px  solid #eeeeee;
  box-sizing: border-box;

}
.wrapper > .side > div > .center > li > h2{
  width: 100px;
  height: 30px;
}
.wrapper > .side > div > .center > li > ul{

  font-family: 'Happiness-Sans-Regular';
  font-size: 17px;
  margin-top: 6px;
  margin-left:  170px;


  
}
.wrapper > .scroll-down-top-bar{
  position: fixed;
  top : 0px;
  left: 0;
  z-index: 97;
  font-family: 'Happiness-Sans-Bold';
  color : white;
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: normal;
  opacity: 0;
  transition: 0.5s;
}


.wrapper > .scroll-down-top-bar.active{
  position: fixed;
  top : 0;
  left: 0;
  z-index: 97;
  font-family: 'Happiness-Sans-Bold';
  color : white;
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: normal;
  opacity: 1;
}
.section{
  
}

.main-bg{
  position: relative;
}
/* 동영상 풀스크린 */
.video-test{
    object-fit: cover; 
    width: 100%;
    height: 100%;
    position:fixed;
    z-index:-2;
    top:0;
  }

header{
    position: relative;
}
.top-bar{
    position: absolute;
    top : 0;
    left: 0;
    z-index: 10;
}
.wrapper > header > .top-bar > .con > ul{
    font-family: 'Happiness-Sans-Bold';
    color : white;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: normal;
}
.main-bg{
    position: relative;
    
}
.main-bg::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top : 0;
    background-color: #000;
    opacity: 0.3;
    z-index: -1;
}
.scrolldown{
    position: absolute;
    top: 86%;
    left : 50%;
    transform: translateX(-50%);
    z-index: 1;

    animation: fly 2s linear infinite;
}

.main-bg > .txt-box{
  top : 50%;
  left : 50%;
  transform: translate(-50%, -50%);

  font-family: 'Pretendard-medium';
  color: #FFF;
  text-align: center;
  z-index: 10;
}
.main-bg > .txt-box > .txt{
  font-family: 'Happiness-Sans-Bold';
}



.scrolldown {
  position:absolute;
  top:88%;
  left:50%;
  width:2px;
  height:50px;
  background-color:white;
  z-index: 1;
  animation-name: ani-1 ;
  animation-duration: 2s;
  animation-fill-mode:none;
  animation-iteration-count:infinite;
}
@keyframes ani-1{
  0% {
    top:88%;
    opacity: 0;
  }
  25% {
   
    opacity: 1;
  }

  50% {
    top : 90%;
    opacity: 0.8;
  }
  
  70% {

  }
  
  80% {

  }
  
  100% {
    top:92%;
    opacity: 0;
  }
}

.scrolldown-txt{
  color : white;
  position: absolute;
  font-size: 16px;
  left: 50%;
  transform: translateX(-50%);
  top : 86%;
  z-index: 85;
  
  font-family: 'Happiness-Sans-Bold';
}


.section01 > .con > .menual  > div{
  font-family: 'Happiness-Sans-Bold';
  font-size: 13px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.section01 > .con > .menual  > .box1{
  background-image: url(./img/렌터카\ 검색2.png);
  background-repeat: no-repeat;
  background-position: 34px 27px;
}
.section01 > .con > .menual  > .box1.active{
  background-image: url(./img/렌터카\ 검색1.png);
  background-repeat: no-repeat;
  background-position: 34px 27px;
  background-color: #63A1FF;
  color : white;
}
.section01 > .con > .menual  > .box2{
  background-image: url(./img/항공검색2.png);
  background-repeat: no-repeat;
  background-position: 34px 27px;
}
.section01 > .con > .menual  > .box2.active{
  background-image: url(./img/항공검색1.png);
  background-repeat: no-repeat;
  background-position: 34px 27px;
  background-color: #63A1FF;
  color : white;
}
.section01 > .con > .menual  > .box3{
  background-image: url(./img/숙박검색2.png);
  background-repeat: no-repeat;
  background-position: 34px 27px;
}
.section01 > .con > .menual  > .box3.active{
  background-image: url(./img/숙박검색1.png);
  background-repeat: no-repeat;
  background-position: 34px 27px;
  background-color: #63A1FF;
  color : white;
}
.section01 > .con > .menual  > .box4{
  background-image: url(./img/트립검색2.png);
  background-repeat: no-repeat;
  background-position: 34px 27px;
}
.section01 > .con > .menual  > .box4.active{
  background-image: url(./img/트립검색1.png);
  background-repeat: no-repeat;
  background-position: 34px 27px;
  background-color: #63A1FF;
  color : white;
}
.section01 > .con > .menual  > .box5{
  background-image: url(./img/카페검색2.png);
  background-repeat: no-repeat;
  background-position: 34px 27px;
}
.section01 > .con > .menual  > .box5.active{
  background-image: url(./img/카페검색1.png);
  background-repeat: no-repeat;
  background-position: 34px 27px;
  background-color: #63A1FF;
  color : white;
}
.section01 > .con > .menual  > .box6{
  background-image: url(./img/맛집검색2.png);
  background-repeat: no-repeat;
  background-position: 34px 27px;
}
.section01 > .con > .menual  > .box6.active{
  background-image: url(./img/맛집검색1.png);
  background-repeat: no-repeat;
  background-position: 34px 27px;
  background-color: #63A1FF;
  color : white;
}
.section01 > .con > .bar{
  display: none;
}

.section01 > .con > .bar.active{
  display: block;
}
.section01 > .con > .bar > .search-box{
  font-family: 'Happiness-Sans-Regular';
  /* display: none; */
}
.section01 > .con > .search-box.active{
  /* display: inline-block; */
}
.section01 > .con > .bar > .search-box > div{
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(197, 197, 197, 0.25);
}
.section01 > .con > .bar >.search-box > div.active{
  border: 1px solid #63A1FF;
}
.section01 > .con > .bar >.search-box > .search{
  font-family: 'Happiness-Sans-Bold';

}


.section02 > .con{
  position: relative;
}

.swiper-box1 .swiper {
  width: 100%;
  height: 540px;
  position: relative;
}

.swiper-box1 .swiper-slide {
  font-family: 'Happiness-Sans-Bold';
  background: #f5f5f5;
  width: 315px;
  height: 490px;
  box-sizing: border-box;
  padding: 35px 52px;
  border-radius: 10px;

  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}
:root{
  --swiper-theme-color : #63A1FF;
  --swiper-navigation-size : 0;
}
.swiper-box1{
  position: relative;
}
.swiper-box1 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-box1 .swiper-pagination{
  position: absolute;
  top : 97%;
  left : 50%;
  transform: translateX(-50%);
}
.swiper-box1 .swiper-pagination  .swiper-pagination-bullet{
  width: 12px;
  height: 12px;
}
.swiper-box1 .swiper .swiper-button-next, .swiper-button-prev{
  width: 44px;
  height: 44px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
}
.swiper-box1 .swiper .swiper-button-next{
  right : 0;
  background-image: url(./img/next.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.swiper-box1 .swiper .swiper-button-prev{
  left : 0;
  background-image: url(./img/prev.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section03{
  background-image: url(./img/제주다운\ 감성숙소bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section03 > .con{
  position: relative;
}
.section03 > .con > .title-box{
  font-size: 60px;
}
.section03 > .con > .content-box > .txt-box > .title{
  
  font-family: 'Happiness-Sans-Bold';
}
.section03 > .con > .content-box > .txt-box > .txt{
  
  font-family: 'Happiness-Sans-Regular';
}
.section03 > .con > .content-box02{
  position: absolute;
  top : 402px;
  left : 1057px;
  transform: translate(-50%, -50%);

}
.section03 > .con > .content-box03{
  position: absolute;
  top : 40px;
  left : 1107px;
  transform: translate(-50%, -50%);

}
.section04 > .con > .title-box{
  position: relative;
}
.section04 > .con > .title-box > .special-p{
  font-family: 'NanumSquareRoundB';
}
.section04 > .con > .title-box > p > span{
  
  font-family: 'Happiness-Sans-Regular';
}
.section04 > .con > .title-box > .pp{
  font-family: 'NanumSquareRoundEB';
  font-size: 32px;
  line-height: 35px;
}
.section04 > .con > .title-box > .img-box{
  position: absolute;
  bottom : 0;
  left : 930px
}

.section04 > .con > .center > .box > .content:hover{
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}
.section04 > .con > .center > .box > .content > .txt-box > .title{
  font-family: 'Happiness-Sans-Bold';
  font-size: 20px;
}
.section04 > .con > .center > .box > .content > .txt-box > .txt{
  font-family: 'Happiness-Sans-Regular';
}
.section04 > .con > .center > .box > .content > .txt-box > div > .point{
  font-family: 'Happiness-Sans-Bold';

}
.section05 > .con > .content-wrap > a > .content-box > .txt > .p2{
  font-family: 'Happiness-Sans-Regular';
}
.section05 > .con > .content-wrap > a > .content-box.box3{
  position: relative;
}
.section05 > .con > .content-wrap > a > .content-box.box3::after{
  content: "추천";
  width: 50px;
  height: 50px;
  background-color: #63A1FF;
  color: #fff;
  border-radius: 999px;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  position: absolute;
  top : 5%;
  right: 7%;
}



.section06 > .con > div > .content-wrap > a > .content-box > .img-box{
  position: relative;
}
.section06 > .con > div > .content-wrap > a > .content-box > .img-box > .ranking{
  position: absolute;
  top : 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: #63A1FF;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  font-family: 'NanumSquareRoundEB';
  font-size: 16px;
  color : white;
}
.section06 > .con > div > .content-wrap > a > .content-box > .txt-box > .title{
  font-family: 'NanumSquareRoundB';
}
.section06 > .con > div > .content-wrap > a > .content-box > .txt-box  .sub-title{
  font-family: 'Happiness-Sans-Regular';
}
.section06 > .con > div > .content-wrap > a > .content-box > .txt-box > .price{
  font-family: 'NanumSquareRoundEB';
}
.section06 > .con > .content{
  position: relative;
}
.section06 > .con > .content::after{
  content: "";
  position: absolute;
  top : 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 951px; 
  background-color: #EEEEEE;
}
.price{
  right : 0;
  bottom : 0;
}

 .section07{
  background-image: url(./img/section07.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
 }
 
 .swiper-box2{
  width: 100%;
  height: 100%;
  position: relative;

 }
 .swiper-box2 .swiper{
  position: absolute;
  right : 0;
  top : 142px;
 }
 .swiper-box2  .swiper {
  width: 1050px;
  height: 360px;
}

.swiper-box2 .title-box{
  position: relative;
  font-size: 48px;
}

.swiper-box2 > .con > div > .title-box::after{
  content: "";
  width:  50px;
  height: 54px;
  position: absolute;
  top : 51%;
  right : 0;
  background-image: url(./img/프로모션\ icon.png);
  background-repeat: no-repeat;
}

.swiper-box2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
  



.section07  .swiper-box2__active-slide-info-box-wrap{
  font-size: 24px;
  font-family: 'Happiness-Sans-Regular';
  color : #474848;

}

.swiper-box2 .swiper-nav-wrap{
  margin-top: 50px;
}
.swiper-box2  .swiper-button-next2, .swiper-button-prev2{

}
.swiper-box2  .swiper-button-next2{
  background-image: url(./img/blacknext.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border: 1px solid #474848;
  border-radius: 999px;

}
.swiper-box2  .swiper-button-prev2{
  background: rgba(0,0,0,0);
  background-image: url(./img/blackprev.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border: 1px solid #474848;
  border-radius: 999px;
}
.section07 > .swiper-box2  .swiper-pagination2{
  display: inline-block;
  width: auto;
  height: auto;
  padding: 5px 8px;
  font-size: 24px;
  font-family: 'Happiness-Sans-Regular';
}


.section08 > .con > .content-wrap > a > .content-box > .img-box{
  border: 1px solid #63A1FF;
  box-shadow: 0 4px 10px rgba(138, 138, 138, 0.25);
}
.section08 > .con > .content-wrap > a > .content-box:hover > .img-box{

}
.section09 > .content-wrap > .content-box > .call > p:nth-child(1){
  font-family: 'Happiness-Sans-Regular';
  font-size: 20px;
}
.section09 > .content-wrap > .content-box > .call > p:nth-child(2){
  font-family: 'Happiness-Sans-Bold';
  font-size: 32px;
}
.section09 > .content-wrap > .box1::after{
  content: "";
  position: absolute;
  top : 38%;
  transform: translateY(-50%);
  left : 35%;
  transform: translateX(-50%);
  width: 1px;
  height: 66px;
  background-color: #ddd;
}
.section10{
  background-image: url(./img/제주패스구독레터.png);
  background-position: center;
  background-size: cover;
}
.section10 > div > div > .title-box{
  font-family: 'Happiness-Sans-Bold';
  font-size: 20px;
  /* margin-left: 20%;
  padding-top: 35px; */
}
.section10 > div > div > .txt{
  font-family: 'Happiness-Sans-Regular';
  font-size: 16px;
}
.section10 > div > div > form > input{
  font-family: 'Happiness-Sans-Regular';
  font-size: 14px;
  border: none;
  outline: none;
}
footer{
  font-family: 'Happiness-Sans-Bold';  
}


footer > .container-box > .top-box >  .ul-1 > li:nth-child(2){
  position: relative;
}
footer > .container-box > .top-box > .ul-1 > li:nth-child(2)::after{
  content: "";
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: #ddd;
  top : 22%;
  right : -12%;
}
footer > .container-box > .txt-box{
  font-family: 'Happiness-Sans-Regular';
  font-size: 14px;
}


footer > .container-box > .txt-box > ul > li{
  position: relative;
}

/* footer > .container-box > .txt-box > ul > li::after{
  content :"";
  position: absolute;
  top : 0;
  right : -5%;
  width: 1px;
  height: 10px;
  background-color: purple;

  
} */

footer > .container-box > .txt-box > ul > li::after {
  content: "";
  position: absolute;
  top: 25%;
  right: -5%;
  width: 1px;
  height: 10px;
  background-color: #adadad;
}

footer > .container-box > .txt-box > ul > li:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 25%;
  right: -5%;
  width: 1px;
  height: 10px;
  background-color: #fff;
}


footer > .container-box > .txt-box > ul > li:nth-child(3)::after {
  content: "";
  position: absolute;
  top: 25%;
  right: -15%;
  width: 1px;
  height: 10px;
  background-color: #adadad;
}
footer > .container-box > .txt-box > ul > li:nth-child(5)::after {
  content: "";
  position: absolute;
  top: 25%;
  right: -15%;
  width: 1px;
  height: 10px;
  background-color: #fff;
}